<nav>
    <div class="topic">
        <ul>
            <li><a href="/ShoeStruck/profile">Profile</a></li>
            <li></li><a href="/ShoeStruck/home">Home</a></li>
            <li></li><a href="/ShoeStruck/cart">Cart</a></li>
        </ul>
    </div>
</nav>

<nav>
    <div class="sub-topic">
        <ul>
            <li>
                <div class="men">
                    <button class="men_shoes"> Men's shoes</button>
                    <div class="men_content">
                        <a href="/ShoeStruck/men/casual">Casual</a>
                        <a href="/ShoeStruck/men/formal">Formal</a>
                        <a href="/ShoeStruck/men/sport">Sport</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="men">
                    <button class="men_shoes"> Women's shoes</button>
                    <div class="men_content">
                        <a href="/ShoeStruck/women/casual">Casual</a>
                        <a href="/ShoeStruck/women/formal">Formal</a>
                        <a href="/ShoeStruck/women/sport">Sport</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="men">
                    <button class="men_shoes"> Kid's shoes</button>
                    <div class="men_content">
                        <a href="/ShoeStruck/kid/casual">Casual</a>
                        <a href="/ShoeStruck/kid/formal">Formal</a>
                        <a href="/ShoeStruck/kid/sport">Sport</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>